.navbar{
    background-color: rgb(224, 224, 238);
    height: 40px;
    position: sticky;
    top: 0;
}

.navbar a{
    color: black;
    text-decoration: none;
    margin-right: 30px;
    font-size: 22px;
    font-weight: 800;
   
}
.navbar a:hover{
    background-color: rgb(224, 127, 79);
}
.userToggle{
    display: inline;
}
.user-pic img{
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 800px) {
.navbar{
    width: 500px;

        }
.navbar a{
    font-size: 22px;
    margin-right: 10px;
    text-align: start;

}
       
    
  }

