body{
    background-color:lightblue;
    height: 100%;
}
.banner{
    border: 1px solid blue;
    width: 80%;
    margin: 30px auto;
   
}
.banner img{
    height: 500px;
    width: 90%;
   
}
.teaching-option{
    border: 1px solid black;
    width: 25%;
    margin: 10px auto;
    padding: 4px;
}
.teaching-option img{
    width: 100%;
}
.button{
   width: 100px;
    margin-bottom: 5px;
    cursor:pointer;
    background-color: whitesmoke;
    color: blue
    
    
    
}

@media screen and (max-width: 800px) {
    .home{
        margin-top: 150px;
       
    }
  }