.login-container {
    width: 350px;
    margin: 20PX auto;
    height: 487px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #03213a;
}


.login {
    text-align: center;
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.6rem;
    color: #e5ebee;
    letter-spacing: 1px;
}

.login-form {
    text-align: left;
    margin-top: 30px;
}

.login-container label,
.login-container input,
.login-container button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.login-container label {
    margin-bottom: 4px;
    color: gray;
    margin: 15px 0 5px 5px;
    
}

.login-container input::placeholder {
    color: gray;
}

.login-container input {
    background: #ecf0f3;
    margin: 15px 0 0 0;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
}

.login-container button {
    color: #0a0202;
    margin-top: 20px;
    background: #edf2f5;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    
   
}
.toggle{
    color: white;
}
.login-container button img {
   height: 20px;
}
.OR{
    color: white;
}

.error-message{
    font-size: 12px;
    color: red;
    margin:10px;
}